<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096210779940-37ht74odctnnc0ea8s425gghl7ruhc6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096210779940-37ht74odctnnc0ea8s425gghl7ruhc6i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1096210779940-mlb27em573ufilb1medfll83h1nmf3gj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFTKMXVY7E7MMx0xhBVR-vlr7H-SWjnZM</string>
	<key>GCM_SENDER_ID</key>
	<string>1096210779940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alpha.askarabgt</string>
	<key>PROJECT_ID</key>
	<string>arabgt-login</string>
	<key>STORAGE_BUCKET</key>
	<string>arabgt-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096210779940:ios:0592685cd92ca603506db1</string>
	<key>DATABASE_URL</key>
	<string>https://arabgt-login.firebaseio.com</string>
</dict>
</plist>
