page-tabs {
  .tabs-ios .tab-button{
    padding: 7px;
  }
  .tabs .tab-button-icon{
    font-size: 2rem !important;
  }
  .tab-button-text{
    font-size: 1rem !important;
    margin-top: 2px !important;
  }
  .dot{
    height: 6px;
    width: 6px;
    background: #CD1C2B;
    border-radius: 50%;
    position: absolute;
    bottom: 26pt;
    left: 55pt;
    z-index: 99999;
  }

  .tabs .tab-button {
    min-height: 4.8rem;
  }
  .tabs-ios .tab-button-icon{
    height: auto;
  }
  .home{
    height: 50px;
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 37%;
    right: 0;
    z-index: 99999;
    background: transparent;
  }
}
