<ion-content>
  <div>
    <!--<img (click)="back()" class="back-arrow" src="assets/img/ios-back.png">-->
    <ion-icon class="back-arrow" (click)="back()" name="md-arrow-back"></ion-icon>
    <div text-center>
      <img class="forgot-icon" src="assets/img/mark.png">
      <h1>{{'ForgotPassword.Forgot_Password'|translate}}</h1>
      <div class="text-grey sub-heading">{{'ForgotPassword.NewPasswordWill'|translate}}</div>
      <div class="mail-box">
        <ion-item *ngIf="language=='ar'" class="rounded-red" no-lines>
          <input [(ngModel)]="email" dir="rtl" placeholder="{{'ForgotPassword.EmailAddress'|translate}}" class="ar-email-red-icon full-input text-grey" type="email">
        </ion-item>
        <ion-item *ngIf="language!=='ar'" class="rounded-red" no-lines>
          <input [(ngModel)]="email" placeholder="{{'ForgotPassword.EmailAddress'|translate}}" class="email-red-icon full-input text-grey" type="email">
        </ion-item>
      </div>
      <div (click)="forgotPassWord()" text-center><button class="send-btn" ion-button>{{'ForgotPassword.Send'|translate}}</button></div>
    </div>
  </div>
</ion-content>
