<ion-header>
  <ion-navbar>
    <ion-title *ngIf="isOtherUserProfile" text-center>{{'MyProfile.Profile'|translate}}</ion-title>
    <ion-title *ngIf="!isOtherUserProfile" text-center>{{'MyProfile.MyProfile'|translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--Arabic-->
<div *ngIf="language =='ar'" text-right>
  <ion-item no-lines text-right>
    <img [ngStyle]="{'border-color': util.getRank(userData.rank)}" #myImage (click)="viewPhoto(myImage)" item-right class="user-profile" [src]="(userData.user_profile && userData.user_profile != '')?userData.user_profile:'assets/img/profile-default.jpeg'">
    <div style="margin-right: 10px">
      <h2 style="font-weight: bold">{{(userData.first_name && userData.first_name != '' && userData.last_name && userData.last_name != '')?userData.first_name +' '+ userData.last_name : userData.user_login}}</h2>
      <div style="margin-top: 7px" class="row">
        <div no-padding col-6 text-left>
          <span text-wrap class="text-grey bold-font small-font">{{(userData.user_address !=='')?userData.user_address:'No Address'}}</span>
          <a class="set-left-margin small-font"><ion-icon name="md-pin"></ion-icon></a>
        </div>
        <div no-padding col-6 text-left>
          <span style="overflow: hidden;" class="text-grey bold-font small-font">{{(userData.user_dob !=='')?userData.user_dob:'0000-00-00'}}</span>
          <a class="set-left-margin small-font"><ion-icon name="md-calendar"></ion-icon></a>
        </div>
      </div>
      <div style="margin-top: 7px" class="row">
        <div no-padding col-6 text-left>
          <span class="text-grey bold-font small-font">{{(userData.user_gender !=='')?userData.user_gender:'Male'}}</span>
          <a class="small-font set-left-margin"><ion-icon name="ios-man"></ion-icon></a>
        </div>
        <div no-padding col-6 text-left>
          <span class="text-grey bold-font small-font">{{(userData.age !== '')?userData.age:0}} {{'MyProfile.Years'|translate}}</span>
          <a class="small-font set-left-margin"><ion-icon name="md-heart"></ion-icon></a>
        </div>
      </div>
      <div *ngIf="!isOtherUserProfile" (click)="editProfile()" class="small-font bold-font" style="margin-top: 10px"><a style="padding-right: 5pt">
        <ion-icon name="md-create"></ion-icon></a><span class="small-font">{{'Menu.EditProfile'|translate}}</span>
      </div>
    </div>
  </ion-item>
  <p text-center class="small-font bold-font text-grey">{{userData.my_bio}}</p>
  <!--division for my profile-->
  <div *ngIf="!isOtherUserProfile" text-center class="row followers-following-div">
    <div (click)="gotoUserPage(0)" padding col-6>
      <div class="count">{{userData.getmyFollowing}}</div>
      <div class="small-font" style="margin-top: 5px">{{'MyProfile.Followers'|translate}}</div>
    </div>
    <div (click)="gotoUserPage(1)" padding col-6>
      <div class="count">{{userData.getmyFollower}}</div>
      <div class="small-font" style="margin-top: 5px">{{'MyProfile.Following'|translate}}</div>
    </div>
  </div>
  <!--division for other user profile-->
  <div *ngIf="isOtherUserProfile" text-center class="row follow-ask-question-div">
    <div col-6>
      <button (click)="followUser()" class="small-font follow-btn" ion-button round>{{followText}}</button>
    </div>
    <div col-6>
      <button (click)="openAskQuestion()" class="ask-question-btn small-font" ion-button round clear>{{'MyProfile.ASKQUESTION'|translate}}</button>
    </div>
  </div>

  <h3 *ngIf="!isOtherUserProfile" style="font-weight: bold;font-family: Ubuntu;" text-center>{{'MyProfile.MyStats'|translate}}</h3>
  <h3 *ngIf="isOtherUserProfile" style="font-weight: bold;font-family: Ubuntu;" text-center>{{'MyProfile.UserStats'|translate}}</h3>
  <ion-grid text-right>
    <ion-row>
      <ion-col>
        <ion-item (click)="gotoQAndAPage(0)" class="border-rect right-align small-font" no-lines>
          <span item-right>{{'MyProfile.ANSWERS'|translate}}</span>
          <span item-left>({{userData.getmyanswer}})</span>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item (click)="gotoQAndAPage(1)" class="border-rect right-align small-font" no-lines>
          <span item-right>{{'MyProfile.QUESTIONS'|translate}}</span>
          <span item-left>({{userData.getmyquestion}})</span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item (click)="gotoStatesDetailPage('Comments')" class="border-rect right-align small-font" no-lines>
          <span item-right>{{'MyProfile.COMMENTS'|translate}}</span>
          <span item-left>({{userData.getmycomments}})</span>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item (click)="gotoStatesDetailPage('Question Asked')" class="border-rect right-align small-font" no-lines>
          <span item-right>{{'MyProfile.QUESTIONSASK'|translate}}</span>
          <span item-left>({{userData.getmyquestionask}})</span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item (click)="gotoStatesDetailPage('Best Answers')" class="border-rect right-align small-font" no-lines>
          <span item-right>{{'MyProfile.BESTANSWERS'|translate}}</span>
          <span item-left>({{userData.getmyBestAnswer}})</span>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item *ngIf="!isOtherUserProfile" (click)="gotoStatesDetailPage('Favorite Question')" class="border-rect right-align small-font" no-lines>
          <span style="width: 80px" item-right>{{'MyProfile.FAVORITEQUESTIONS'|translate}}</span>
          <span item-left>({{userData.get_favorite_question}})</span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isOtherUserProfile">
      <ion-col>
        <ion-item (click)="gotoStatesDetailPage('Following Question')" class="border-rect right-align small-font" no-lines>
          <span item-right>{{'MyProfile.MEMBERSQUESTIONS'|translate}}</span>
          <span item-left>({{userData.get_following_question}})</span>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
  <!--English-->
<div *ngIf="language !=='ar'">
  <ion-item no-lines>
    <img [ngStyle]="{'border-color': util.getRank(userData.rank)}" #myImage (click)="viewPhoto(myImage)" item-left class="user-profile" [src]="(userData.user_profile && userData.user_profile != '')?userData.user_profile:'assets/img/profile-default.jpeg'">
    <div style="margin-left: 10px">
      <h2 style="font-weight: bold">{{(userData.first_name && userData.first_name != '' && userData.last_name && userData.last_name != '')?userData.first_name +' '+ userData.last_name : userData.user_login}}</h2>
      <div style="margin-top: 7px" class="row">
        <div no-padding col-6 text-left><a class="small-font"><ion-icon name="md-pin"></ion-icon></a>
          <span text-wrap class="text-grey bold-font set-left-margin small-font">{{(userData.user_address !=='')?userData.user_address:'No Address'}}</span>
        </div>
        <div no-padding col-6 text-left><a class="small-font"><ion-icon name="md-calendar"></ion-icon></a>
          <span style="overflow: hidden;" class="text-grey bold-font small-font set-left-margin">{{(userData.user_dob !=='')?userData.user_dob:'0000-00-00'}}</span>
        </div>
      </div>
      <div style="margin-top: 7px" class="row">
        <div no-padding col-6 text-left><a class="small-font"><ion-icon name="ios-man"></ion-icon></a>
          <span class="text-grey bold-font small-font set-left-margin">{{(userData.user_gender !=='')?userData.user_gender:'Male'}}</span>
        </div>
        <div no-padding col-6 text-left><a class="small-font"><ion-icon name="md-heart"></ion-icon></a>
          <span class="text-grey bold-font small-font set-left-margin">{{(userData.age !== '')?userData.age:0}} {{'MyProfile.Years'|translate}}</span>
        </div>
      </div>
      <div *ngIf="!isOtherUserProfile" (click)="editProfile()" class="small-font bold-font" style="margin-top: 10px"><a style="padding-right: 5pt">
        <ion-icon name="md-create"></ion-icon></a><span class="small-font">{{'Menu.EditProfile'|translate}}</span>
      </div>
    </div>
  </ion-item>
  <p text-center class="small-font bold-font text-grey">{{userData.my_bio}}</p>
  <!--division for my profile-->
  <div *ngIf="!isOtherUserProfile" text-center class="row followers-following-div">
    <div (click)="gotoUserPage(0)" padding col-6>
      <div class="count">{{userData.getmyFollowing}}</div>
      <div class="small-font" style="margin-top: 5px">{{'MyProfile.Followers'|translate}}</div>
    </div>
    <div (click)="gotoUserPage(1)" padding col-6>
      <div class="count">{{userData.getmyFollower}}</div>
      <div class="small-font" style="margin-top: 5px">{{'MyProfile.Following'|translate}}</div>
    </div>
  </div>
  <!--division for other user profile-->
  <div *ngIf="isOtherUserProfile" text-center class="row follow-ask-question-div">
    <div col-6>
      <button (click)="followUser()" class="small-font follow-btn" ion-button round>{{followText}}</button>
    </div>
    <div col-6>
      <button (click)="openAskQuestion()" class="ask-question-btn small-font" ion-button round clear>{{'MyProfile.ASKQUESTION'|translate}}</button>
    </div>
  </div>

  <h3 *ngIf="!isOtherUserProfile" style="font-weight: bold;font-family: Ubuntu;" text-center>{{'MyProfile.MyStats'|translate}}</h3>
  <h3 *ngIf="isOtherUserProfile" style="font-weight: bold;font-family: Ubuntu;" text-center>{{'MyProfile.UserStats'|translate}}</h3>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item (click)="gotoQAndAPage(0)" class="border-rect small-font" no-lines>
          <span item-left>{{'MyProfile.ANSWERS'|translate}}</span>
          <span item-right>({{userData.getmyanswer}})</span>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item (click)="gotoQAndAPage(1)" class="border-rect small-font" no-lines>
          <span item-left>{{'MyProfile.QUESTIONS'|translate}}</span>
          <span item-right>({{userData.getmyquestion}})</span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item (click)="gotoStatesDetailPage('Comments')" class="border-rect small-font" no-lines>
          <span item-left>{{'MyProfile.COMMENTS'|translate}}</span>
          <span item-right>({{userData.getmycomments}})</span>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item (click)="gotoStatesDetailPage('Question Asked')" class="border-rect small-font" no-lines>
          <span item-left>{{'MyProfile.QUESTIONSASK'|translate}}</span>
          <span item-right>({{userData.getmyquestionask}})</span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item (click)="gotoStatesDetailPage('Best Answers')" class="border-rect small-font" no-lines>
          <span item-left>{{'MyProfile.BESTANSWERS'|translate}}</span>
          <span item-right>({{userData.getmyBestAnswer}})</span>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item *ngIf="!isOtherUserProfile" (click)="gotoStatesDetailPage('Favorite Question')" class="border-rect small-font" no-lines>
          <span style="width: 80px" item-left>{{'MyProfile.FAVORITEQUESTIONS'|translate}}</span>
          <span item-right>({{userData.get_favorite_question}})</span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isOtherUserProfile">
      <ion-col>
        <ion-item (click)="gotoStatesDetailPage('Following Question')" class="border-rect small-font" no-lines>
          <span item-left>{{'MyProfile.MEMBERSQUESTIONS'|translate}}</span>
          <span item-right>({{userData.get_following_question}})</span>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
