<ion-header class="almarai-font">
  <!--<div class="header-top" dir="ltr">
    <ion-icon (click)="back()" class="header-back-icon text-red" name="md-arrow-back"></ion-icon>
    <span menuToggle class="right"><ion-icon class="text-red header-menu-icon" name="md-menu"></ion-icon></span>
  </div>-->
  <ion-navbar>
    <ion-buttons left>
      <button (click)="back()" ion-button icon-only>
        <ion-icon class="header-back-icon text-white" name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon class="white header-icon" name="md-menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content dir="rtl" parallex class="almarai-font">
  <img class="bg article-bg cut-diagonal" src="{{imageBaseUrl+banner}}">
  <div [hidden]="!isLoading" class="main-cnt">
    <ion-item no-lines text-left>
      <div class="medium-text text-dark">{{newsDetail.display_name}}</div>
      <span dir="ltr" item-right margin-left class="small-font text-red">{{getDate()}}</span>
    </ion-item>
    <div padding class="bg-white">
      <div class="bigger-text bold-font">{{newsDetail.post_title}}</div>
      <p style="line-height: 30px" text-wrap class="content-font text-dark" [innerHTML]="getSenitizedUrl(newsDetail.post_content)"></p>
      <div margin-top>
        <ion-slides margin-top pager dir="ltr" loop>
          <ion-slide *ngFor="let img of gallaryImages">
            <img class="slider-img" src="{{imageBaseUrl+img}}">
          </ion-slide>
        </ion-slides>
      </div>
      <div *ngIf="tagList && tagList.length" margin-top>
        <span><button ion-button no-padding clear><ion-icon class="bigger-text text-red" name="md-pricetags"></ion-icon></button></span>
        <span *ngFor="let tag of tagList">
          <button (click)="selectTag(tag)" class="set-bg-btn small-font" ion-button small round>{{tag}}</button>
        </span>
      </div>
    </div>
    <div *ngIf="releatedPost.length" margin class="recent-articles-txt big-text text-red bold-font">أخبار ذات صلة</div>
    <div class="row">
      <ion-item *ngFor="let related of releatedPost" no-lines no-padding (click)="openRelated(related)">
        <img class="small-car" item-left src="{{imageBaseUrl+related.URL}}">
        <div>
          <div text-wrap class="medium-text bold-font">{{related.Title}}</div>
          <div style="margin-top: 5pt" class="small-font">{{related.UserName}}</div>
        </div>
      </ion-item>
    </div>
  </div>
</ion-content>
<ion-footer dir="rtl" style="background: transparent" text-center>
  <button class="small-font" (click)="share()" no-margin ion-button icon-start clear full>
    <ion-icon margin-left name="ios-redo"></ion-icon>
    <div>{{'Question.Share'|translate}}</div>
  </button>
</ion-footer>
