<ion-content>
  <div>
    <ion-icon class="back-arrow" (click)="back()" name="md-arrow-back"></ion-icon>

    <div text-center>
      <img class="forgot-icon" src="assets/img/change-pass.png">
      <h1>{{'ChangePassword.Change_Password'|translate}}</h1>
      <div *ngIf="language=='ar'" class="mail-box">
        <ion-item class="rounded-red" no-lines>
          <input dir="rtl" [(ngModel)]="oldPass" placeholder="{{'ChangePassword.Old_Password'|translate}}" class="ar-password-red-icon full-input text-grey" type="password">
        </ion-item>
        <ion-item margin-top class="rounded-red" no-lines>
        <input dir="rtl" [(ngModel)]="newPass" placeholder="{{'ChangePassword.New_Password'|translate}}" class="ar-password-red-icon full-input text-grey" type="password">
        </ion-item>
        <ion-item margin-top class="rounded-red" no-lines>
        <input dir="rtl" [(ngModel)]="confirmPass" placeholder="{{'ChangePassword.Confirm_Password'|translate}}" class="ar-password-red-icon full-input text-grey" type="password">
        </ion-item>
      </div>
      <div *ngIf="language!=='ar'" class="mail-box">
        <ion-item class="rounded-red" no-lines>
          <input [(ngModel)]="oldPass" placeholder="{{'ChangePassword.Old_Password'|translate}}" class="password-red-icon full-input text-grey" type="password">
        </ion-item>
        <ion-item margin-top class="rounded-red" no-lines>
        <input [(ngModel)]="newPass" placeholder="{{'ChangePassword.New_Password'|translate}}" class="password-red-icon full-input text-grey" type="password">
        </ion-item>
        <ion-item margin-top class="rounded-red" no-lines>
        <input [(ngModel)]="confirmPass" placeholder="{{'ChangePassword.Confirm_Password'|translate}}" class="password-red-icon full-input text-grey" type="password">
        </ion-item>
      </div>
      <div (click)="changePassWord()" text-center><button class="change-btn" ion-button>{{'ChangePassword.Change'|translate}}</button></div>
    </div>
  </div>
</ion-content>
