page-change-password {
  .back-arrow{
    padding: 12pt 15pt 5pt 15pt;
    width: 66px;
    font-size: 3rem;
    margin-top: 8pt;
  }
  .forgot-icon{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .sub-heading{
    font-size: 1.2rem;
  }
  .text-input-md, .text-input-ios{
    margin: 0;
  }
  .password-red-icon{
    padding: 8pt 3pt 8pt 25pt;
    font-size: 1.4rem;
    color: #CD1C2B;
    background-image: url(../assets/img/lock-red.png);
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: 5pt 50%;
  }
  .ar-password-red-icon{
    padding: 8pt 28pt 8pt 8pt;
    font-size: 1.4rem;
    color: #CD1C2B;
    background-image: url(../assets/img/lock-red.png);
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: 95% 8pt;
  }
  .mail-box{
    margin: 30pt;
  }
  .change-btn{
    padding: 18pt 40pt;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 50px;
    text-transform: uppercase !important;
  }
  .label{
    margin: 0;
  }
}
