<ion-content dir="rtl" parallex class="almarai-font">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div (click)="articleDetailPage(articleList[0])" class="header big-text bold-font text-white">{{articleList[0]?articleList[0].Title:''}}</div>
  <img [hidden]="!isEmptyList" (click)="articleDetailPage(articleList[0])" class="bg cut-diagonal" [src]="articleList[0] && articleList[0].URL !==''?imageBaseUrl+articleList[0].URL:''">
  <div text-center class="main-cnt">
    <div *ngIf="isEmptyList" text-right (click)="selectBrands()" class="small-font select-category">{{brand}}
    <span style="float: left"><ion-icon name="ios-arrow-down"></ion-icon></span>
    </div>
    <div class="article-list">
      <div *ngFor="let article of articleList;let i=index">
        <ion-item *ngIf="i!==0" no-lines (click)="articleDetailPage(article)">
          <img class="article-thumb" item-left no-margin [src]="article.URL !=='' ?imageBaseUrl+article.URL:'assets/img/small-car.png'">
          <div>
            <div text-wrap class="small-font bold-font" style="padding-top: 5pt">{{article.Title}}</div>
            <ion-item no-lines no-padding>
              <div class="small-font" style="color: #516171">{{article.UserName}}</div>
              <div dir="ltr" item-right class="text-red small-font">{{getDate(article.Date)}}</div>
            </ion-item>
          </div>
        </ion-item>
      </div>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
