<ion-header class="almarai-font">
  <!--<div class="header-top" dir="ltr">
    <ion-icon (click)="back()" class="header-back-icon text-red" name="md-arrow-back"></ion-icon>
    <span menuToggle class="right"><ion-icon class="text-red header-menu-icon" name="md-menu"></ion-icon></span>
  </div>-->
  <ion-navbar>
    <ion-buttons left>
      <button (click)="back()" ion-button icon-only>
        <ion-icon class="header-back-icon text-white" name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon class="white header-icon" name="md-menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content dir="rtl" class="almarai-font">
  <!--<iframe width="420" height="315"
          src="https://www.youtube.com/embed/tgbNymZ7vqY">
  </iframe>
  <iframe border=0 frameborder=0 height="500" width=550
          src="https://twitframe.com/show?url=https://twitter.com/drharshvardhan/status/1349766598345670657"></iframe>
  <iframe width="320" height="440" src="https://www.instagram.com/p/CJ5taE5FKtb/embed" frameborder="0"></iframe>-->
  <!--<iframe src="https://www.facebook.com/plugins/post.php?href=https://www.facebook.com/plugins/video.php?height=476&amp;href=https%3A%2F%2Fwww.facebook.com%2FIndiaToday%2Fvideos%2F419107395976023%2F&amp;show_text=false&amp;width=476" style="border:none;overflow:hidden;width:100%;height:100%;position:absolute;left:0;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>-->

  <div [hidden]="!isLoading" class="main-cnt">
    <!--ios-->
    <div *ngIf="platform.is('ios')">
      <div *ngFor="let item of videoUrlArrIos; let i = index ">
        <div>
          <iframe *ngIf="item.type !=='facebook'" border=0 frameborder=0 height="{{item.type =='youtube'?'300':'500'}}" width=550
                  [src]="item.url | safe"></iframe>
          <iframe *ngIf="item.type ==='facebook'" border=0 frameborder=0 height="600" width=550
                  [src]="item.url | safe"></iframe>
          <div *ngIf="i==0">
            <ion-item no-lines text-left>
              <!--<img item-right class="user-img" src="assets/img/profile-default.jpeg">-->
              <div class="medium-text text-dark">{{videoDetail.display_name}}</div>
              <span dir="ltr" item-right margin-left class="small-font text-red">{{getDate()}}</span>
            </ion-item>
            <div padding class="bg-white">
              <div class="bigger-text bold-font">{{videoDetail.post_title}}</div>

              <p style="line-height: 30px" text-wrap class="content-font text-dark" [innerHTML]="getSenitizedUrl(videoDetail.post_content)"></p>

              <div margin-top>
                <ion-slides margin-top pager dir="ltr" loop>
                  <ion-slide *ngFor="let img of gallaryImages">
                    <img class="slider-img" src="{{imageBaseUrl+img}}">
                  </ion-slide>
                </ion-slides>
              </div>
              <div *ngIf="tagList && tagList.length" margin-top>
                <span><button ion-button no-padding clear><ion-icon class="bigger-text text-red" name="md-pricetags"></ion-icon></button></span>
                <span *ngFor="let tag of tagList">
          <button (click)="selectTag(tag)" class="set-bg-btn smallest-font" ion-button small round>{{tag}}</button>
        </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="videoUrlArrIos.length ===0">
        <ion-item no-lines text-left>
          <!--<img item-right class="user-img" src="assets/img/profile-default.jpeg">-->
          <div class="medium-text text-dark">{{videoDetail.display_name}}</div>
          <span dir="ltr" item-right margin-left class="small-font text-red">{{getDate()}}</span>
        </ion-item>
        <div padding class="bg-white">
          <div class="bigger-text bold-font">{{videoDetail.post_title}}</div>

          <p style="line-height: 30px" text-wrap class="content-font text-dark" [innerHTML]="getSenitizedUrl(videoDetail.post_content)"></p>

          <div margin-top>
            <ion-slides margin-top pager dir="ltr" loop>
              <ion-slide *ngFor="let img of gallaryImages">
                <img class="slider-img" src="{{imageBaseUrl+img}}">
              </ion-slide>
            </ion-slides>
          </div>
          <div *ngIf="tagList && tagList.length" margin-top>
            <span><button ion-button no-padding clear><ion-icon class="bigger-text text-red" name="md-pricetags"></ion-icon></button></span>
            <span *ngFor="let tag of tagList">
          <button (click)="selectTag(tag)" class="set-bg-btn smallest-font" ion-button small round>{{tag}}</button>
        </span>
          </div>
        </div>
      </div>
    </div>

    <!--Android-->
    <div *ngIf="platform.is('android')">
      <div *ngFor="let urlVideo of videoUrlArr; let i = index ">
        <div>
          <!--<blockquote class="bg embedly-card" data-card-key="57209a61cba14abeac6d2fce14dbf5f9" data-card-controls="0"
                      data-card-branding="0"><h4><a [href]="returnSenitizedUrl(urlVideo)"></a></h4></blockquote>
  -->
          <!--<blockquote class="bg embedly-card" data-card-key="57209a61cba14abeac6d2fce14dbf5f9" data-card-controls="0"
                      data-card-branding="0"><h4><a [href]="getSenitizedUrl(urlVideo)"></a></h4></blockquote>-->
          <blockquote class="bg embedly-card" data-card-controls="0" data-card-embed
                      data-card-branding="0"><h4><a [href]="(urlVideo) | safe"></a></h4><p></p></blockquote>

          <div *ngIf="i==0">
            <ion-item no-lines text-left>
              <!--<img item-right class="user-img" src="assets/img/profile-default.jpeg">-->
              <div class="medium-text text-dark">{{videoDetail.display_name}}</div>
              <span dir="ltr" item-right margin-left class="small-font text-red">{{getDate()}}</span>
            </ion-item>
            <div padding class="bg-white">
              <div class="bigger-text bold-font">{{videoDetail.post_title}}</div>

              <p style="line-height: 30px" text-wrap class="content-font text-dark" [innerHTML]="getSenitizedUrl(videoDetail.post_content)"></p>

              <div margin-top>
                <ion-slides margin-top pager dir="ltr" loop>
                  <ion-slide *ngFor="let img of gallaryImages">
                    <img class="slider-img" src="{{imageBaseUrl+img}}">
                  </ion-slide>
                </ion-slides>
              </div>
              <div *ngIf="tagList && tagList.length" margin-top>
                <span><button ion-button no-padding clear><ion-icon class="bigger-text text-red" name="md-pricetags"></ion-icon></button></span>
                <span *ngFor="let tag of tagList">
          <button (click)="selectTag(tag)" class="set-bg-btn smallest-font" ion-button small round>{{tag}}</button>
        </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="videoUrlArr.length ===0">
        <ion-item no-lines text-left>
          <!--<img item-right class="user-img" src="assets/img/profile-default.jpeg">-->
          <div class="medium-text text-dark">{{videoDetail.display_name}}</div>
          <span dir="ltr" item-right margin-left class="small-font text-red">{{getDate()}}</span>
        </ion-item>
        <div padding class="bg-white">
          <div class="bigger-text bold-font">{{videoDetail.post_title}}</div>

          <p style="line-height: 30px" text-wrap class="content-font text-dark" [innerHTML]="getSenitizedUrl(videoDetail.post_content)"></p>

          <div margin-top>
            <ion-slides margin-top pager dir="ltr" loop>
              <ion-slide *ngFor="let img of gallaryImages">
                <img class="slider-img" src="{{imageBaseUrl+img}}">
              </ion-slide>
            </ion-slides>
          </div>
          <div *ngIf="tagList && tagList.length" margin-top>
            <span><button ion-button no-padding clear><ion-icon class="bigger-text text-red" name="md-pricetags"></ion-icon></button></span>
            <span *ngFor="let tag of tagList">
          <button (click)="selectTag(tag)" class="set-bg-btn smallest-font" ion-button small round>{{tag}}</button>
        </span>
          </div>
        </div>
      </div>
    </div>
    <!--Related videos-->
    <div *ngIf="videoList.length" margin class="recent-articles-txt text-red bold-font">أخبار ذات صلة</div>
    <div class="row">
      <ion-item *ngFor="let related of videoList" col-6 no-lines no-padding (click)="openRelated(related)">
        <ion-icon class="play-icon" name="play"></ion-icon>
        <img class="small-car" item-left src="{{imageBaseUrl+related.URL}}">
        <div>
          <div style="margin-left: 3pt" text-wrap class="smaller-font bold-font">{{related.Title}}</div>
          <div style="margin-top: 5pt" class="smaller-font">{{related.UserName}}</div>
        </div>
      </ion-item>
    </div>
    <div text-center class="view-more-div">
      <div margin-top text-center *ngIf="isLoader"><ion-spinner name="crescent"></ion-spinner></div>
      <button (click)="loadMore()" ion-button round *ngIf="!isLoader">عرض المزيد</button>
    </div>

  </div>
</ion-content>
<ion-footer dir="rtl" style="background: transparent" text-center>
  <button class="small-font" (click)="share()" no-margin ion-button icon-start clear full>
    <ion-icon margin-left name="ios-redo"></ion-icon>
    <div>{{'Question.Share'|translate}}</div>
  </button>
</ion-footer>
