page-news-menu {
  .item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input{
    margin-left: 0px !important;
  }

  .options-list{
    padding-right: 40pt !important;
  }
  .set-background{
    background: transparent;
  }
  .dark .set-background{
    background: transparent !important;
  }
  .left-option-icon{
    font-size: 3rem !important;
    color: #CD1C2B;
  }
  .option-label{
    font-size: 1.7rem;
  }
  .logo-img{
    width: 80%;
    padding: 30pt 30pt 0pt 30pt;
  }
}
